#footer
  %ul
    %li
      Powered by 
      =link_to "Anduin","https://github.com/MetaMeute/anduin"
      &ndash; a frontend for the Git-based
      =link_to "Gollum","https://github.com/github/gollum"
      ="-Wiki."
    %li{:class => "right"}= link_to t "Impressum"
