<div id="navigation">
  <ul><li><a>Startseite</a></li>
    <li><a>MeuteKeller</a></li>
    <li><a>Projekte</a>
    <ul>
      <li><a>Projekt 1</a></li>
      <li><a>Projekt 2</a></li>
      <li><a>Projekt 3</a></li>
    </ul>
    </li>
    <li class="right"><a>Login</a></li>
  </ul>
</div>
