#page_content
  - unless @user.nil?
    = form_for @user do |f|
      #password_fields
        = render :partial => 'password_fields', :locals => { :f => f }
      #git_config_fields
        = fields_for :git_config do |git_config|
          =render :partial => '/git_configs/fields', :locals => { :f => git_config }
      #buttons
        = f.submit
