%h1#nav_git_config.section=t :git_config, :scope => :user_form
#git_config_name.text_input
  = f.label :name
  = f.text_field :name
#git_config_email.text_input
  = f.label :email
  = f.email_field :email
