@import "colours";

#footer {
  width: 100%;
  background: rgba($secondary_b, 0.42);
  height:auto;
  margin: 0;
  vertical-align:middle;
  z-index: 2;
  overflow: visible;
  color: $secondary_b;
  bottom: 0px;
  border: 0px;
  display: inline-block;

  div /* Primary and secondary links */ {
    float: left;
    margin: 0;

    padding: .75ex 2em; /* LTR */
    font-size: .8em;
      
    a {
     text-decoration: none;
     white-space: nowrap;
    }
  }
  .right {
    float: right;
  }
}

