@font-face {
  font-family:Vollkorn;
  src: url("../fonts/Vollkorn-Regular.eot");
  src: local("Vollkorn"), url("../fonts/Vollkorn-Regular.woff") format("woff"),
  url("../fonts/Vollkorn-Regular.ttf") format("truetype");
}
@font-face {
  font-family:Vollkorn;
  font-weight: bold;
  src: url("../fonts/Vollkorn-Bold.eot");
  src: local("Vollkorn"), url("../fonts/Vollkorn-Bold.woff") format("woff"),
  url("../fonts/Vollkorn-Bold.ttf") format("truetype");
}
body {
	font-size: 80.0%, Serif;
	font-family: Vollkorn; 
	background: #FFFFFF;
	color: black;
	text-align: center;
	margin:0;
	padding:0;
        padding-top:2em;
	padding-bottom:2em;
	width:100%;
}
a:hover, a:active, a
{
	color:#000000;
}
a:hover {
	text-decoration: underline;
}

div#notice {
  width : 100%;
  height : 2em;
  background:rgba(255,255,255,.75);
  font-weight : bold;
  position : fixed; top : 2em;
  z-index : 1000;
}

/* 
 *
 * Überschirften
 *
 */
h1,h2,h3,h4,h5 {
	font-weight: normal;
}
div#content-outer {
	padding-top:.5em;
}
div#page_content {
	margin-left:200px;
	margin-right:200px;
	padding-left:1em;
	padding-right:1em;
	text-align: left;
}
div#title h1
{
	font-size:240%;
}
/* text */
p {
	padding:0;
	margin:0;
	text-indent:3ex;
}
