// Place all the styles related to the meutewiki controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.meutewiki {
  // Add the meutewiki class to your body tag
  // Then, place scoped styles here.
}

form div#page_content.preview {
  border : solid 1px;
  background : #efefef;
}

form div#page_content.preview > textarea {
  background : #efefef;
  width : 100%;
}

div#page_content.history {
  ol {
    list-style-type : none;
    text-align : left;
  }
  li {
    margin-top : 1ex;
    margin-bottom : 1ex;
  }
  li > div.commit {
    display : inline;
  }
  li > div.author {
    margin-left : 3em;
    display : inline;
  }
}

ul#pageindex {
  display:inline-block;
  li {
    margin:1ex 0 2ex 0;
    display:inline-block;
    text-align:center;
    white-space:nowrap;
    width:33%;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

