div#sidebar-left, div#sidebar-right {
  width:200px;
  border-top: 2px solid #666666;
  border-bottom: 2px solid #666666;
  margin-top:7ex;
  padding-bottom:5ex;

  h3.menu {
    color : #336633;
    margin-bottom : 0px;
    border-bottom : 1px solid #666666;
  }
  ul.menu {
    margin-top : 0px;
    padding-left : 0px;
    list-style-type : none;
    li {
    }
    li:hover {
      background : #557E37;
    }
    li a {
      text-decoration : none;
    }
  }
}
div#sidebar-left {
  float:left;
  margin-left:.5em;
}
div#sidebar-right {
  float:right;
  margin-right:.5em;
}
